# Build output
bin/
obj/
out/

# IDE settings
.vscode/
.idea/
.vs/

# Logs
*.log
TestResults/

# Git metadata
.git/
.gitignore

# OS files
*.DS_Store
Thumbs.db

# Temporary or stray folders
project/
tmp/
# Any other stray folders that could trigger Docker checksum errors
#*#
